<header>
  <nav class="navbar navbar-expand-md fixed-top bg-body-secondary" data-bs-theme="dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">トップ固定</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbar-header" aria-controls="navbar-header" aria-expanded="false" aria-label="ナビゲーションの切替">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbar-header">
        <ul class="navbar-nav me-auto mb-2 mb-md-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">ホーム</a>
          </li>
          <li class="nav-item dropdown">
            <a href="#" class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">ドロップダウン</a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="#">リンク1</a></li>
            </ul>
          </li>
          <% if current_administrator %>
            <li class="nav-item">
              <%= link_to "ログアウト", destroy_administrator_session_path, class: "nav-link",
                data: { turbo_method: :delete, turbo_confirm: "ログアウトしてよろしいですか？" } %>
            </li>
          <% elsif current_user %>
            <li class="nav-item">
              <%= link_to Pet.model_name.human, users_pets_path, class: "nav-link" %>
            </li>
            <li class="nav-item">
              <%= link_to "ログアウト", destroy_user_session_path, class: "nav-link",
                data: { turbo_method: :delete, turbo_confirm: "ログアウトしてよろしいですか？" } %>
            </li>
          <% end %>
        </ul>
      </div>
    </div>
  </nav>
</header>
